*.project
.settings/
*.checkstyle
*.classpath
*.factorypath
*/target/
target/
config-service/.sts4-cache/classpath-data.json
parametrage-service/.sts4-cache/classpath-data.json
*.bpmn2d
transvers-service/.sts4-cache/classpath-data.json
acm-exceptions/.sts4-cache/classpath-data.json
acm-utilities/.sts4-cache/classpath-data.json
credit-service/.sts4-cache/classpath-data.json
discovery-service/.sts4-cache/classpath-data.json
proxy-service/.sts4-cache/classpath-data.json
reporting-service/.sts4-cache/classpath-data.json
/.metadata/
ged-service/.sts4-cache/classpath-data.json
authentication-service/.sts4-cache/classpath-data.json
crm-service/.sts4-cache/classpath-data.json
expenses-service/.sts4-cache/
incentive-service/.sts4-cache/
